@model Lab21.Models.AddUserViewModel

@{
    ViewBag.Title = "User Added";
}

<div>
    <h1>User Added</h1>
    <p>Name: @Html.DisplayFor(x => Model.FirstName) @Html.DisplayFor(x => Model.LastName)</p>
    <p>Email: @Html.DisplayFor(x => Model.Email)</p>
    <p>Favorite Coffee: @Html.DisplayFor(x => Model.FavCoffee)</p>
</div>


